html {
  box-sizing: border-box;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
input[type="radio"]{
}
#nav li {
  display: inline;
  list-style-type: none;
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 100vw;
}
#content {
  width: 75%;
  float: left;
}
#sidebar {
  width: 25%;
  float: left;
}
