html {
  box-sizing: border-box;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}
.texthead {
  font-size: 1.3.0em;
  text-align: center;
  font-family: sans-serif;
}

input[type="radio"]{

}
#foliogreeting h1 {
  font-size: 5.0em;
  font-family: american typewriter;
  text-align: center;
}
#nav li {
  display: inline;
  list-style-type: none;
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 100vw;
  text-align: center;
}
#content {
  width: 75%;
  float: left;
}
#sidebar {
  width: 25%;
  float: left;
}
#contactme li {
    display: inline;;
    list-style-type: none;
}
#mainimage img {
  margin: auto;
  padding-top: 50px;
  width: 25%;
  display: block;
  }
.pagetopper img {
  margin: auto;
  padding-top: 50px;
  width: 10%;
  display: block;
}
